html,
body,
#root,
.app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.editor,
.markdown,
.preview {
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.markdown {
  outline: none;
  resize: none;
  border: none;
}
